@font-face {
	font-family: 'icomoon';
	src:url('../fonts/Icons/fonts/icomoon.eot?b93l3t');
	src:url('../fonts/Icons/fonts/icomoon.eot?#iefixb93l3t') format('embedded-opentype'),
		url('../fonts/Icons/fonts/icomoon.woff?b93l3t') format('woff'),
		url('../fonts/Icons/fonts/icomoon.ttf?b93l3t') format('truetype'),
		url('../fonts/Icons/fonts/icomoon.svg?b93l3t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
	content: "\e600";
}
.icon-screen:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e602";
}
.icon-phone-portrait:before {
	content: "\e603";
}
.icon-phone-landscape:before {
	content: "\e604";
}
.icon-tablet:before {
	content: "\e605";
}
.icon-tablet-landscape:before {
	content: "\e606";
}
.icon-laptop:before {
	content: "\e607";
}
.icon-home:before {
	content: "\e608";
}
.icon-lapiz:before {
	content: "\e609";
}
.icon-lapiz2:before {
	content: "\e60a";
}
.icon-pen:before {
	content: "\e60b";
}
.icon-images:before {
	content: "\e60c";
}
.icon-bullhorn:before {
	content: "\e60d";
}
.icon-book:before {
	content: "\e60e";
}
.icon-books:before {
	content: "\e60f";
}
.icon-file:before {
	content: "\e610";
}
.icon-folder-open:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-compass:before {
	content: "\e613";
}
.icon-keyboard:before {
	content: "\e614";
}
.icon-screen2:before {
	content: "\e615";
}
.icon-mobile:before {
	content: "\e616";
}
.icon-box-add:before {
	content: "\e617";
}
.icon-bubbles:before {
	content: "\e618";
}
.icon-users:before {
	content: "\e619";
}
.icon-cog:before {
	content: "\e61a";
}
.icon-stats:before {
	content: "\e61b";
}
.icon-gift:before {
	content: "\e61c";
}
.icon-remove:before {
	content: "\e61d";
}
.icon-switch:before {
	content: "\e61e";
}
.icon-tree:before {
	content: "\e61f";
}
.icon-attachment:before {
	content: "\e620";
}
.icon-bookmark:before {
	content: "\e621";
}
.icon-star:before {
	content: "\e622";
}
.icon-heart:before {
	content: "\e623";
}
.icon-thumbs-up:before {
	content: "\e624";
}
.icon-thumbs-up2:before {
	content: "\e625";
}
.icon-enter:before {
	content: "\e626";
}
.icon-exit:before {
	content: "\e627";
}
.icon-embed:before {
	content: "\e628";
}
.icon-code:before {
	content: "\e629";
}
.icon-console:before {
	content: "\e62a";
}
.icon-github:before {
	content: "\e62b";
}
.icon-github2:before {
	content: "\e62c";
}
.icon-github3:before {
	content: "\e62d";
}
.icon-tux:before {
	content: "\e62e";
}
.icon-apple:before {
	content: "\e62f";
}
.icon-finder:before {
	content: "\e630";
}
.icon-android:before {
	content: "\e631";
}
.icon-windows:before {
	content: "\e632";
}
.icon-windows8:before {
	content: "\e633";
}
.icon-libreoffice:before {
	content: "\e634";
}
.icon-file-zip:before {
	content: "\e635";
}
.icon-file-xml:before {
	content: "\e636";
}
.icon-file-css:before {
	content: "\e637";
}
.icon-html5:before {
	content: "\e638";
}
.icon-css3:before {
	content: "\e639";
}
.icon-chrome:before {
	content: "\e63a";
}
.icon-firefox:before {
	content: "\e63b";
}
.icon-IE:before {
	content: "\e63c";
}
.icon-opera:before {
	content: "\e63d";
}
.icon-safari:before {
	content: "\e63e";
}
.icon-IcoMoon:before {
	content: "\e63f";
}
.icon-comment-discussion:before {
	content: "\f04f";
}
.icon-gift2:before {
	content: "\f042";
}
.icon-stop:before {
	content: "\f08f";
}

a{
	text-decoration: none;
	color: #DB9600;
} 

 body{
 	background: #EEEEEE;
 	font-family:"Open Sans";
 	font-size: 16px;
 }

footer{
	background:#DB9600; 
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding: 1.5em
}

footer p:first-child{
	margin-bottom:0;
}

footer p:last-child{
	margin-top:0;
}

header figure{
	float: left;
}

 header{
 	background: #DB9600;
 	color: #303030;
 	padding: 0.5em;
 	overflow: hidden;
 	position: relative;
 	max-height: 55px;
 }

header #avatar img{
	width: 50px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top:-0.5em;
	margin:1em 3.5em 0em 0;
}

header #logo img{
	width: 110px;
}

nav{
	background:#DB9600; 
	padding: 0 0.5em;
	text-align: right;
	position: relative;
}

nav ul{
	list-style: none;
	margin: 0;
	padding:0;
}

nav ul #publish_nav{
	position:absolute;
	top: -0.5em;
	right: 0;
}



nav ul #publish_nav a{
	background: #DB9600;
	border-radius: 5px;
	color: white;
	padding: 0.8em;
	text-decoration:none;
	text-shadow:rgba(0,0,0,0.2)2px 2px 6px;	
	font-family: "Open Sans"
}


nav ul li{
	display: inline-block;
 	margin:0 2em 0 0;
 }

nav ul li a{
	color: #e1e1e1;
	display: block;

}

#contenido{
	margin: 0.5em auto;
    max-width: 960px;
    padding: 0;
}

#contenido .item{
	background: white;
	border-bottom: 3px solid #DB9600;
	position: relative;
	min-height:260px; 
	margin-bottom: 3em;
}

#contenido .item .autor_item{
	color:#AAA;
}

#contenido .item .datos_item{
	text-align: right;
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item{
	color:#AAA;
}
#contenido .item .tag_item{
	background: #DB9600;
	border-radius: 2.5px;
	color: white;
	padding: 0.1em;
	float: left;
}
#contenido .item .imagen_item img{
	float: left;
	width: 200px;
	padding-right: 2em;
	padding-bottom: 0.5em;

}	

#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration:none;
}

#contenido .item .votacion{
	border-radius: 0 0 0.5em 0.5em;
	background: white;
	left: 5%;
	position: absolute;
	top: 100%;
	width: 90%;
	margin-top: 3px;
	padding: 0.5em;
}

#contenido .item .votacion .comentarios,
#contenido .item .votacion .favorito{
	float: right;
}

#contenido .item .votacion .icon-thumbs-up{
	margin-right: 0.4em;
}

#contenido .item .votacion .icon-thumbs-up2{
	margin-left: 0.4em;
}



#contenido .item .votacion .icon-star{
	margin-right: 0.6em;
}

#contenido .item .votacion .icon-comment-discussion{
	margin-right: 0.6em;
}























