.icon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-lock {
	width: 24px;
	height: 24px;
}
.icon-screen {
	width: 24px;
	height: 24px;
}
.icon-phone {
	width: 24px;
	height: 24px;
}
.icon-phone-portrait {
	width: 24px;
	height: 24px;
}
.icon-phone-landscape {
	width: 24px;
	height: 24px;
}
.icon-tablet {
	width: 24px;
	height: 24px;
}
.icon-tablet-landscape {
	width: 24px;
	height: 24px;
}
.icon-laptop {
	width: 24px;
	height: 24px;
}
.icon-home {
	width: 32px;
	height: 32px;
}
.icon-lapiz {
	width: 32px;
	height: 32px;
}
.icon-lapiz2 {
	width: 32px;
	height: 32px;
}
.icon-pen {
	width: 32px;
	height: 32px;
}
.icon-images {
	width: 32px;
	height: 32px;
}
.icon-bullhorn {
	width: 32px;
	height: 32px;
}
.icon-book {
	width: 32px;
	height: 32px;
}
.icon-books {
	width: 32px;
	height: 32px;
}
.icon-file {
	width: 32px;
	height: 32px;
}
.icon-folder-open {
	width: 32px;
	height: 32px;
}
.icon-location {
	width: 32px;
	height: 32px;
}
.icon-compass {
	width: 32px;
	height: 32px;
}
.icon-keyboard {
	width: 36px;
	height: 32px;
}
.icon-screen2 {
	width: 32px;
	height: 32px;
}
.icon-mobile {
	width: 32px;
	height: 32px;
}
.icon-box-add {
	width: 32px;
	height: 32px;
}
.icon-bubbles {
	width: 36px;
	height: 32px;
}
.icon-users {
	width: 32px;
	height: 32px;
}
.icon-cog {
	width: 32px;
	height: 32px;
}
.icon-stats {
	width: 32px;
	height: 32px;
}
.icon-gift {
	width: 32px;
	height: 32px;
}
.icon-remove {
	width: 32px;
	height: 32px;
}
.icon-switch {
	width: 32px;
	height: 32px;
}
.icon-tree {
	width: 32px;
	height: 32px;
}
.icon-attachment {
	width: 32px;
	height: 32px;
}
.icon-bookmark {
	width: 32px;
	height: 32px;
}
.icon-star {
	width: 32px;
	height: 32px;
}
.icon-heart {
	width: 32px;
	height: 32px;
}
.icon-thumbs-up {
	width: 32px;
	height: 32px;
}
.icon-thumbs-up2 {
	width: 32px;
	height: 32px;
}
.icon-enter {
	width: 32px;
	height: 32px;
}
.icon-exit {
	width: 32px;
	height: 32px;
}
.icon-embed {
	width: 32px;
	height: 32px;
}
.icon-code {
	width: 32px;
	height: 32px;
}
.icon-console {
	width: 32px;
	height: 32px;
}
.icon-github {
	width: 32px;
	height: 32px;
}
.icon-github2 {
	width: 32px;
	height: 32px;
}
.icon-github3 {
	width: 32px;
	height: 32px;
}
.icon-tux {
	width: 32px;
	height: 32px;
}
.icon-apple {
	width: 32px;
	height: 32px;
}
.icon-finder {
	width: 32px;
	height: 32px;
}
.icon-android {
	width: 32px;
	height: 32px;
}
.icon-windows {
	width: 32px;
	height: 32px;
}
.icon-windows8 {
	width: 32px;
	height: 32px;
}
.icon-libreoffice {
	width: 32px;
	height: 32px;
}
.icon-file-zip {
	width: 32px;
	height: 32px;
}
.icon-file-xml {
	width: 32px;
	height: 32px;
}
.icon-file-css {
	width: 32px;
	height: 32px;
}
.icon-html5 {
	width: 32px;
	height: 32px;
}
.icon-css3 {
	width: 32px;
	height: 32px;
}
.icon-chrome {
	width: 32px;
	height: 32px;
}
.icon-firefox {
	width: 32px;
	height: 32px;
}
.icon-IE {
	width: 32px;
	height: 32px;
}
.icon-opera {
	width: 32px;
	height: 32px;
}
.icon-safari {
	width: 32px;
	height: 32px;
}
.icon-IcoMoon {
	width: 32px;
	height: 32px;
}
.icon-comment-discussion {
	width: 28px;
	height: 32px;
}
.icon-gift2 {
	width: 28px;
	height: 32px;
}
.icon-stop {
	width: 32px;
	height: 32px;
}
